apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namePrefix: develop-

resources:
- ../../base

commonLabels:
  environment: develop

transformers:
- monitoring-labels.yaml

images:
- name: image
  newName: ghcr.io/zjheyvc/devops-challenge
  newTag: "3832a72"